* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background-color: #e1e1e1;
  line-height: 1.5;
  overflow: scroll;
  overflow-x: hidden;
}

.navbar {
  background: #4a90e2;
}

.navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar .nav-items a {
  color: #00408b;
  width: 100%;
  font-size: 24px;
  text-decoration: none;
  padding: 18px 0;
  font-weight: 700;
}

.navbar .nav-items a:hover {
  color: white;
}

.navbar .nav-items a.active {
  -webkit-box-shadow: 0 -5px 0 0 #00408b inset;
          box-shadow: 0 -5px 0 0 #00408b inset;
  color: white;
}

.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}

.add_task {
  position: relative;
  height: 4rem;
  width: 100%;
  border-radius: 0.31rem;
  font-size: 1.5rem;
}

.add_task .input {
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  padding: 0 0 0 4.2rem;
  border: 2px solid #c8c8c8;
  border-radius: inherit;
}

.add_task-expansion {
  font-size: 1.2rem;
  height: 0;
  display: none;
  border: 2px solid #c8c8c8;
  border-top: 0;
  border-radius: 0.31rem;
}

.add_task-expansion .expansion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem 4.5rem;
  background-color: #f2f2f2;
}

.add_task-expansion form {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: left;
}

.add_task-expansion form div {
  margin-left: 2rem;
}

.add_task-expansion form label {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.add_task-expansion form .input {
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  border: 0px;
  border-radius: 5px;
  outline-color: #b3d4fc;
}

.add_task-expansion form .input::-webkit-calendar-picker-indicator {
  outline: none;
}

.add_task-expansion form .input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.add_task-expansion form textarea {
  margin-left: 2rem;
  width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: fill-available;
  height: 7.5rem;
  resize: vertical;
  border: 0;
  border-radius: 5px;
  outline-color: #b3d4fc;
}

.add_task-expansion.is_expanded {
  height: 100%;
  display: block;
}

.expansion-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expansion-footer .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
  border-style: none;
  outline-color: #b3d4fc;
}

.expansion-footer .btn:hover {
  cursor: pointer;
}

input {
  font: inherit;
}

.add_task-label {
  position: absolute;
  line-height: 1;
  left: 2rem;
  top: 1.2rem;
  color: #c8c8c8;
}

.file-label {
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: #c8c8c8;
  color: #ffffff;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
}

.file-label:hover {
  cursor: pointer;
  background-color: #4a90e2;
}

.icon {
  font-size: inherit;
  padding: 0;
  outline: none;
}

.btn {
  display: inline-block;
}

.btn_more {
  position: absolute;
  border: none;
  right: 2rem;
  top: 1.2rem;
  height: 2rem;
  width: 2rem;
  background-color: inherit;
}

.btn_more:hover {
  border-radius: 50%;
  background-color: #c8c8c8c8;
  cursor: pointer;
}

.btn_more.is_expanded {
  border-radius: 50%;
  color: #4a90e2c8;
}

.btn-danger {
  color: #d0021b;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #4a90e2;
}

#file_null {
  display: none;
}
/*# sourceMappingURL=all.css.map */